/*Versão Mobile First*/
@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Rubik+Wet+Paint&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    margin: 0px;
    padding: 0px;
    font-size: 1em;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    height: 100vh;
    width: 100%;
    background: white;
}

header img {
    display: block;
    width: 150px;
    margin: auto;
    padding: 10px;
}

.container {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.bubbles {
    position: relative;
    display: flex;
}

.bubbles span {
    position: relative;
    width: 30px;
    height: 30px;
    margin: 0 4px;
    background: url(../imagens/saturn-rxx-removebg.png) no-repeat;
    background-size: contain;
    animation: animate 15s linear infinite;
    animation-duration: calc(50s / var(--i));
}
.bubbles span:nth-child(even) {
    background: url(../imagens/saturn-favicon.ico) no-repeat;
    background-size: contain;
}

@keyframes animate {
    0%{
        transform: translateY(97vh) scale(0.3);
    }
    100%{
        transform: translateY(-0vh) scale(1);
    }
}

/*Configurações da Sidebar*/
.sidebar {
    position: absolute;
    top:  0;
    left: 0;
    
    transform: translateX(-180px);

    background: white;

    padding: 70px 13px;
    height: 100vh;
    box-shadow: 5px 0px 30px rgba(0, 0, 0, 0.170);
    transition: all .5s ease;
}

.sidebar.active {
    width: 240px;
    transform: translateX(0);
}

.sidebar .logo_content .logo img {
    display: flex;
    height: 50px;
    width: 100%;

    
    margin-left: 30px;

    align-items: center;
    pointer-events: none;
    opacity: 1;
}

.sidebar.active .logo_content .logo {
    opacity: 1;
}

.sidebar .logo_content .logo .logo_name {
    width: 100px;
}

.sidebar .src {
    position: relative;
    height: 50px;
    width: 100%;
}

.sidebar .src input {
    position: absolute;
    height: 100%;
    width: calc(100% - 50px);
    left: 0;
    top: 0;

    border-radius: 30px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.403);
    outline: none;
    border: none;

    background: rgb(0, 0, 0);
    color: white;

    padding-left: 50px;
    font-size: 15px;

    transition: all .5s ease;
}

.sidebar .src .bx-search {
    position: absolute;
    z-index: 99;

    font-size: 22px;
    color: white;
    transition: all .5s ease;
}

.sidebar .src .bx-search:hover {
    color: rgb(0, 0, 0);
}

.sidebar .src .bx-search:hover ~ input {
    background: white;
}

.sidebar i {
    height: 50px;
    min-width: 50px;

    border-radius: 12px;

    line-height: 50px;
    text-align: center;
    font-size: 25px;

    color: rgb(0, 0, 0);
}

.sidebar ul {
    margin-top: 20px;
}

.sidebar ul li {
    position: relative;
    height: 50px;
    width: 100%;
    margin: 0;

    list-style: none;
    line-height: 50px
}

.sidebar ul li a {
    display: flex;

    color: #b3b3b3;
    text-decoration: none;
    font-size: 13px;

    align-items: center;
    white-space: nowrap;
    border-radius: 10px;
    transition: all .5s ease;
}

.sidebar ul li a:hover {
    color: white;
    background: rgb(255, 0, 0);
}

.sidebar .link_name {
    opacity: 0;
    pointer-events: none;
}

.sidebar.active .link_name {
    opacity: 1;
    pointer-events: auto;
}

.sidebar ul li .tooltip {
    display: block;
    position: absolute;
    top: 0;
    left: 130px;

    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3);
    border-radius: 10px;

    height: 35px;
    width: 130px;

    background: white;
    color: black;

    line-height: 35px;
    font-size: 13px;
    text-align: center;

    pointer-events: none;
    transform: translate(-45%, -50%);
    opacity: 0;
    transition: all .5s ease;
}

.sidebar.active ul li .tooltip {
    display: none;
}

.sidebar ul li:hover .tooltip {
    opacity: 1;
    top: 50%;
}

.sidebar.active ~ .home_content {
    left: 300px;
}
/*Configurações da Sidebar*/

/*Configs do Menu Hamburguer*/
svg {
    position: absolute;
    width: 60px;
    }

    .plates {
    display: flex;
    flex-wrap: wrap;
    max-height: 160px;
    width: 640px;
    }

    .plate {
    height: 80px;
    width: 80px;
    }

    .burger {
    filter: url(#gooeyness);
    top: 65px;
    left: 35px;
    }

    .burger:hover {
        cursor: pointer;
    }

    .x {
    position: absolute;
    top: 63px;
    left: 170px;
    
    transform: scale(0);
    transition: transform 400ms;
    }

    .x:hover {
        cursor: pointer;
    }

    .line {
    fill: none;
    stroke: black;
    stroke-width: 6px;
    stroke-linecap: round;
    stroke-linejoin: round;
    transform-origin: 50%;
    transition: stroke-dasharray 500ms 200ms, stroke-dashoffset 500ms 200ms, transform 500ms 200ms;
    }

    .x .line {
    stroke-width: 5.5px;
    }

    .plate2 .line1 {
    stroke-dasharray: 21 185.62753295898438;
    transition-delay: 0;
    }

    .plate2 .line2 {
    stroke-dasharray: 21 178.6514129638672;
    transition-delay: 30ms;
    }

    .plate2 .line3 {
    stroke-dasharray: 21 197.92425537109375;
    transition-delay: 60ms;
    }

    .plate2 .line4 {
    stroke-dasharray: 21 190.6597137451172;
    transition-delay: 90ms;
    }

    .plate2 .line5 {
    stroke-dasharray: 21 208.52874755859375;
    transition-delay: 120ms;
    }

    .plate2 .line6 {
    stroke-dasharray: 21 186.59703063964844;
    transition-delay: 150ms;
    }

    .active.plate2 .line1 {
    stroke-dasharray: 5 185.62753295898438;
    stroke-dashoffset: -141px;
    }

    .active.plate2 .line2 {
    stroke-dasharray: 5 178.6514129638672;
    stroke-dashoffset: -137px;
    }

    .active.plate2 .line3 {
    stroke-dasharray: 5 197.92425537109375;
    stroke-dashoffset: -176px;
    }

    .active.plate2 .line4 {
    stroke-dasharray: 5 190.6597137451172;
    stroke-dashoffset: -159px;
    }

    .active.plate2 .line5 {
    stroke-dasharray: 5 208.52874755859375;
    stroke-dashoffset: -139px;
    }

    .active.plate2 .line6 {
    stroke-dasharray: 5 186.59703063964844;
    stroke-dashoffset: -176px;
    }

    .active.plate2 .x {
    transition: transform 400ms 250ms;
    }

    .active .x {
    transform: scale(0.8);
    transition: transform 400ms 350ms;
    }
/*Configurações Alteráveis*/
#carrinho {
    position: absolute;
    top: 12%;
    left: 82%;

    border: 2px solid black;
    border-radius: 20px;
    box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.411);

    padding: 10px;

    transition: transform 0.3s;
}

#carrinho:hover {
    transform: scale(1.1);
    cursor: pointer;
    box-shadow: 2px 2px 5px black;
}

#user {
    position: absolute;
    top: 18%;
    left: 82.5%;

    border: 2px solid black;
    border-radius: 20px;
    box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.24);

    padding: 10px;

    transition: transform 0.3s;
}

#user:hover {
    transform: scale(1.1);
    cursor: pointer;
    box-shadow: 2px 2px 5px rgb(0, 0, 0);
}

.fileira-1 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    max-width: 100%;
    margin: 60px -80px;
}

section div {
    margin: 5px;
}

.img1 {
    width: 100px;
    height: 100px;

    background: url(../imagens-roupas/saturn-black-shirt-front.jpeg) no-repeat center center;
    background-size: 112%;

    border-radius: 10px;

    transition: transform 0.6s ease;
}

.img1:hover {
    transform: scale(1.1);
    cursor: pointer;

    background: url(../imagens-roupas/saturn-black-shirt-back.jpeg) no-repeat center center;
    background-size: 110%;

    box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.703);
}

.img2 {
    width: 100px;
    height: 100px;

    background: url(../imagens-roupas/saturn-white-shirt-front.jpeg) no-repeat center center;
    background-size: 110%;

    border-radius: 10px;

    transition: transform 0.6s ease;
}

.img2:hover {
    transform: scale(1.1);
    cursor: pointer;

    background: url(../imagens-roupas/saturn-white-shirt-back.jpeg) no-repeat center center;
    background-size: 110%;

    box-shadow: 2px 2px 15px black;
}

.img3 {
    width: 100px;
    height: 100px;

    background: url(../imagens-roupas/saturn-black-shirt-back-v2.jpeg) no-repeat center center;
    background-size: 110%;

    border-radius: 10px;

    transition: transform 0.6s ease;
}

.img3:hover {
    transform: scale(1.1);
    cursor: pointer;

    box-shadow: 2px 2px 15px black;
}

.img4 {
    width: 100px;
    height: 100px;

    background: url(../imagens-roupas/saturn-black-shirt-front.jpeg) no-repeat center center;
    background-size: 112%;

    border-radius: 10px;

    transition: transform 0.6s ease;
}

.img4:hover {
    transform: scale(1.1);
    cursor: pointer;

    background: url(../imagens-roupas/saturn-black-shirt-back.jpeg) no-repeat center center;
    background-size: 110%;

    box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.703);
}

.img5 {
    width: 100px;
    height: 100px;

    background: url(../imagens-roupas/saturn-white-shirt-front.jpeg) no-repeat center center;
    background-size: 110%;

    border-radius: 10px;

    transition: transform 0.6s ease;
}

.img5:hover {
    transform: scale(1.1);
    cursor: pointer;

    background: url(../imagens-roupas/saturn-white-shirt-back.jpeg) no-repeat center center;
    background-size: 110%;

    box-shadow: 2px 2px 15px black;
}

.img6 {
    width: 100px;
    height: 100px;

    background: url(../imagens-roupas/saturn-black-shirt-back-v2.jpeg) no-repeat center center;
    background-size: 110%;

    border-radius: 10px;

    transition: transform 0.6s ease;
}

.img6:hover {
    transform: scale(1.1);
    cursor: pointer;

    box-shadow: 2px 2px 15px black;
}
/*CONFIGS DO MQ*/
main {
    position: absolute;
    top: 35%;
    left: 38%;
}

.fileira-1 {
    margin: 10px -75px;
}

.plate {
    position: relative;
    top: -10%;
    left: -6%;
}

.plates {
    position: absolute;
    top: -50%;
}

.x {
    position: relative;
    left: 200px;
}

.container {
position: relative;
width: 100%;
height: 100vh;
overflow: hidden;
}

.bubbles {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 80vh;
}

.bubbles span {
    position: relative;
    width: 20px;
    height: 20px;
    margin: 0 2px;
    background-size: contain;
    animation: animate 15s linear infinite;
    animation-duration: calc(120s / var(--i));
}

@keyframes animate {
    0% {
        transform: translateY(50vh) scale(1);
    }
    100% {
        transform: translateY(-100vh) scale(4);
    }
}

footer {
    position: absolute;
    top: 100%;        
    width: 100%;
    padding: 20px 5% 200px;
    background: #333;
    color: #efefef;
    display: flex;
}

footer hr {
    display: none;
}

footer div {
    text-align: center;
}

.col-2 {
    flex-grow: 2;
}

footer div h3 {
    font-weight: 300;
    margin-bottom: 30px;
    letter-spacing: 1px;
}

form input {
    width: 100%;
    height: 45px;
    border-radius: 4px;
    text-align: center;
    margin-bottom: 40px;
    outline: none;
    border: none;
}

form button {
    background: transparent;
    border: 2px solid #fff;
    color: #fff;
    border-radius: 30px;
    padding: 10px 30px;
    font-size: 15px;
    cursor: pointer;

    transition: transform .4s ease-in-out;
}

form button:hover {
    color: black;
    border-color: black;
    background-color: #efefef;

    transform: scale(1.05);
}

.col-3 {
    position: absolute;
    top: 65%;
    left: 25%;
}

.col-3 h3 {
    margin-bottom: 0px;
}

.social-icons i {
    color: white;
    font-size: 22px;
    margin: 10px;
    cursor: pointer;
}

.social-icons i:hover {
    color: aqua;
}

.social-icons p {
    margin-top: 20px;
    font-size: 0.8rem;
}

.social-icons a {
    text-decoration: none;
    color: white;
}

.social-icons a:hover {
    text-decoration: underline;
    color: aqua;
}

@media (max-width: 767px) {
    nav {
        display: none;
    }
}