@charset "UTF-8";

@media screen and (min-width: 1920px) and (max-width: 3840px){/*Configs Telas Grandes UltraWide etc*/

    body {
        width: 100%;
    }

    svg {
        display: none;
    }

    header {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        padding: 20px 100px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        z-index: 99;
        box-shadow: 2px 2px 7px rgba(0, 0, 0, 0.5);
    }

    header img {
        position: absolute;
        left: 49%;
    }

    main {
        margin: 250px 650px;
    }

    .fileira-1 {
        margin: auto;
        max-width: 50%;
    }

    .img1, .img2, .img3, .img4, .img5, .img6 {
        width: 150px;
        height: 150px;
    }

    section div {
        margin: 20px;
    }

    .container {
        position: relative;
        width: 100%;
        height: 100vh;
        overflow: hidden;
    }

    .bubbles {
        position: relative;
        display: flex;
    }

    .bubbles span {
        position: relative;
        width: 30px;
        height: 30px;
        margin: 0 4px;
        margin: auto;
        background: url(../imagens/saturn-rxx-removebg.png) no-repeat;
        background-size: contain;
        animation: animate 15s linear infinite;
        animation-duration: calc(50s / var(--i));
    }
    .bubbles span:nth-child(even) {
        background: url(../imagens/saturn-favicon.ico) no-repeat;
        background-size: contain;
    }
    
    @keyframes animate {
        0%{
            transform: translateY(97vh) scale(0);
        }
        100%{
            transform: translateY(8vh) scale(1);
        }
    }

    #menu {
        color: black;
        height: 45px;
        padding-left: 18px;
        border-radius: 10px;
    }
    #menu ul, #menu li {
        margin: 0 auto;
        padding: 0;
        list-style: none
    }
    #menu ul {
        width: 100%;
    }
    #menu li {
        float: left;
        display: inline;
        position: relative;
    }
    #menu a {
        display: block;
        line-height: 45px;
        padding: 0 10px;
        text-decoration: none;
        color: black;
        font-size: 16px;
        font-weight: 600;

        transition: transform .8s ease;
    }
    #menu a.dropdown-arrow:after {
        content: "\23F7";
        margin-left: 5px;
    }
    #menu li a:hover {
        border-radius: 10px;
        text-decoration: underline;
        transform: scale(1.05);
    }
    #menu input {
        display: none;
        margin: 0;
        padding: 0;
        height: 45px;
        width: 100%;
        opacity: 0;
        cursor: pointer
    }
    #menu label {
        display: none;
        line-height: 45px;
        text-align: center;
        position: absolute;
        left: 35px
    }
    #menu label:before {
        font-size: 1.6em;
        content: "\2261"; 
        margin-left: 20px;
    }
    #menu ul.sub-menus{
        height: auto;
        overflow: hidden;
        width: 170px;
        background: black;
        position: absolute;
        z-index: 99;
        display: none;
        border-radius: 10px;
    }
    #menu ul.sub-menus li {
        display: block;
        width: 100%;
    }
    #menu ul.sub-menus a {
        color: #FFFFFF;
        font-size: 16px;
    }
    #menu li:hover ul.sub-menus {
        display: block
    }
    #menu ul.sub-menus a:hover{
        background: #F2F2F2;
        color: black;
        transform: scale(1.05);
    }

    #carrinho {
        position: absolute;
        top: 12%;
        left: 73%;
    }

    #user {
        position: absolute;
        top: 12%;
        left: 70%;
    
        border: 2px solid black;
        border-radius: 20px;
        box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.24);
    
        padding: 10px;
    
        transition: transform 0.3s;
    }

    #user:hover {
        transform: scale(1.1);
        cursor: pointer;
        box-shadow: 2px 2px 5px rgb(0, 0, 0);
    }

    footer {
        position: absolute;
        top: 90%;
        left: 50%;
    }
}

@media screen and (min-width: 1600px) and (max-width: 1920px) {
    body {
        width: 100%;
    }

    .fileira-1 {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        margin: auto;
        max-width: 90%;
    }

    .img1, .img2, .img3, .img4, .img5, .img6 {
        width: 100px;
        height: 100px;
    }

    #carrinho {
        position: absolute;
        top: 15%;
        left: 90%;
    }

    #user {
        position: absolute;
        top: 15%;
        left: 85%;
    }
}

@media screen and (min-width: 1200px) and (max-width: 1600px) { 
    /*Configs Notebooks*/

    body {
        width: 100%;
    }

    .sidebar {
        display: none;
    }

    svg {
        display: none;
    }

    header img{
        position: absolute;
        left: 45%;
    }

    header {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        padding: 20px 100px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        z-index: 99;
        box-shadow: 2px 2px 7px rgba(0, 0, 0, 0.5);
    }

    #menu {
        color: black;
        height: 45px;
        padding-left: 18px;
        border-radius: 10px;
    }
    #menu ul, #menu li {
        margin: 0 auto;
        padding: 0;
        list-style: none
    }
    #menu ul {
        width: 100%;
    }
    #menu li {
        float: left;
        display: inline;
        position: relative;
    }
    #menu a {
        display: block;
        line-height: 45px;
        padding: 0 10px;
        text-decoration: none;
        color: black;
        font-size: 16px;
        font-weight: 600;

        transition: transform .8s ease;
    }
    #menu a.dropdown-arrow:after {
        content: "\23F7";
        margin-left: 5px;
    }
    #menu li a:hover {
        border-radius: 10px;
        text-decoration: underline;
        transform: scale(1.05);
    }
    #menu input {
        display: none;
        margin: 0;
        padding: 0;
        height: 45px;
        width: 100%;
        opacity: 0;
        cursor: pointer
    }
    #menu label {
        display: none;
        line-height: 45px;
        text-align: center;
        position: absolute;
        left: 35px
    }
    #menu label:before {
        font-size: 1.6em;
        content: "\2261"; 
        margin-left: 20px;
    }
    #menu ul.sub-menus{
        height: auto;
        overflow: hidden;
        width: 170px;
        background: black;
        position: absolute;
        z-index: 99;
        display: none;
        border-radius: 10px;
    }
    #menu ul.sub-menus li {
        display: block;
        width: 100%;
    }
    #menu ul.sub-menus a {
        color: #FFFFFF;
        font-size: 16px;
    }
    #menu li:hover ul.sub-menus {
        display: block
    }
    #menu ul.sub-menus a:hover{
        background: #F2F2F2;
        color: black;
        transform: scale(1.05);
    }

    main {
        margin: 150px 150px;
    }

    section div {
        margin: 20px;
    }

    .fileira-1 {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        margin: auto;
        max-width: 50%;
    }

    .img1 {
        width: 150px;
        height: 150px;

        background: url(../imagens-roupas/saturn-black-shirt-front.jpeg) no-repeat center center;
        background-size: 110%;
    
        border-radius: 10px;
    
        transition: transform 0.6s ease;
    }
    
    .img1:hover {
        transform: scale(1.1);
        cursor: pointer;
    
        background: url(../imagens-roupas/saturn-black-shirt-back.jpeg) no-repeat center center;
        background-size: 110%;
    
        box-shadow: 2px 2px 15px rgba(255, 0, 0, 0.703);
    }
    
    .img2 {
        width: 150px;
        height: 150px;

        background: url(../imagens-roupas/saturn-white-shirt-front.jpeg) no-repeat center center;
        background-size: 110%;
    
        border-radius: 10px;
    
        transition: transform 0.6s ease;
    }
    
    .img2:hover {
        transform: scale(1.1);
        cursor: pointer;
    
        background: url(../imagens-roupas/saturn-white-shirt-back.jpeg) no-repeat center center;
        background-size: 110%;
    
        box-shadow: 2px 2px 15px rgba(255, 0, 0, 0.703);
    }

    .img3 {
        width: 150px;
        height: 150px;

        background: url(../imagens-roupas/saturn-black-shirt-back-v2.jpeg) no-repeat center center;
        background-size: 110%;
    
        border-radius: 10px;
    
        transition: transform 0.6s ease;
    }
    
    .img3:hover {
        transform: scale(1.1);
        cursor: pointer;
        
        box-shadow: 2px 2px 15px rgba(255, 0, 0, 0.703);
    }

    .img4 {
        width: 150px;
        height: 150px;

        background: url(../imagens-roupas/saturn-black-shirt-front.jpeg) no-repeat center center;
        background-size: 110%;
    
        border-radius: 10px;
    
        transition: transform 0.6s ease;
    }
    
    .img4:hover {
        transform: scale(1.1);
        cursor: pointer;
    
        background: url(../imagens-roupas/saturn-black-shirt-back.jpeg) no-repeat center center;
        background-size: 110%;
        
        box-shadow: 2px 2px 15px rgba(255, 0, 0, 0.703);
    }
    
    .img5 {
        width: 150px;
        height: 150px;

        background: url(../imagens-roupas/saturn-white-shirt-front.jpeg) no-repeat center center;
        background-size: 110%;
    
        border-radius: 10px;
    
        transition: transform 0.6s ease;
    }
    
    .img5:hover {
        transform: scale(1.1);
        cursor: pointer;
    
        background: url(../imagens-roupas/saturn-white-shirt-back.jpeg) no-repeat center center;
        background-size: 110%;
    
        box-shadow: 2px 2px 15px rgba(255, 0, 0, 0.703);
    }

    .img6 {
        width: 150px;
        height: 150px;

        background: url(../imagens-roupas/saturn-black-shirt-back-v2.jpeg) no-repeat center center;
        background-size: 110%;
    
        border-radius: 10px;
    
        transition: transform 0.6s ease;
    }
    
    .img6:hover {
        transform: scale(1.1);
        cursor: pointer;
        
        box-shadow: 2px 2px 15px rgba(255, 0, 0, 0.703);
    }

    .container {
        position: relative;
        width: 100%;
        height: 100vh;
        overflow: hidden;
    }
    
    .bubbles {
        position: relative;
        display: flex;
    }

    .bubbles span {
        position: relative;
        width: 30px;
        height: 30px;
        margin: 0 4px;
        background: url(../imagens/saturn-rxx-removebg.png) no-repeat;
        background-size: contain;
        animation: animate 15s linear infinite;
        animation-duration: calc(50s / var(--i));
    }
    .bubbles span:nth-child(even) {
        background: url(../imagens/saturn-favicon.ico) no-repeat;
        background-size: contain;
    }
    
    @keyframes animate {
        0%{
            transform: translateY(97vh) scale(0.3);
        }
        100%{
            transform: translateY(12vh) scale(1);
        }
    }

    #carrinho {
        position: absolute;
        top: 15%;
        left: 82%;
    }

    #user {
        position: absolute;
        top: 15%;
        left: 78%;
    
        border: 2px solid black;
        border-radius: 20px;
        box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.24);
    
        padding: 10px;
    
        transition: transform 0.3s;
    }

    #user:hover {
        transform: scale(1.1);
        cursor: pointer;
        box-shadow: 2px 2px 5px rgb(0, 0, 0);
    }

    footer {
        width: 100%;
        padding: 100px 19%;
        background: #333;
        color: #efefef;
        display: flex;
    }

    footer div {
        text-align: center;
    }

    .col-2 {
        flex-grow: 2;
    }

    footer div h3 {
        font-weight: 600;
        margin-bottom: 30px;
        letter-spacing: 1px;
    }

    form input {
        width: 400px;
        height: 45px;
        border-radius: 4px;
        text-align: center;
        margin-top: 20px;
        margin-bottom: 40px;
        outline: none;
        border: none;
    }

    form button {
        background: transparent;
        border: 2px solid #fff;
        color: #fff;
        border-radius: 30px;
        padding: 10px 30px;
        font-size: 15px;
        cursor: pointer;

        transition: transform .4s ease-in-out;
    }

    form button:hover {
        color: black;
        border-color: black;
        background-color: #efefef;

        transform: scale(1.05);
    }

    .col-3 {
        margin: 0px 100px;
    }

    .social-icons {
        margin-top: 10px;
    }

    .social-icons i {
        color: white;
        font-size: 22px;
        margin: 10px;
        cursor: pointer;
        margin-bottom: 150px;
    }

    .social-icons i:hover {
        color: aqua;
    }

    .social-icons p {
        font-size: 0.8rem;
    }

    .social-icons a {
        text-decoration: none;
        color: white;
    }

    .social-icons a:hover {
        text-decoration: underline;
        color: aqua;
    }
}

@media screen and (min-width: 768px) and (max-width: 992px) { /*Configs Tablet*/

    .sidebar {
        display: block;
    }

    svg {
        display: block;
    }

    .plate {
        position: absolute;
        top: 3.5%;
    }

    nav {
        display: none;
    }

    header img {
        position: fixed;
        top: 2%;
        left: 43%;
    }

    .bubbles {
        position: relative;
        display: flex;
    }

    .bubbles span {
        position: relative;
        width: 30px;
        height: 30px;
        margin: 0 4px;
        background: url(../imagens/saturn-rxx-removebg.png) no-repeat;
        background-size: contain;
        animation: animate 15s linear infinite;
        animation-duration: calc(50s / var(--i));
    }
    .bubbles span:nth-child(even) {
        background: url(../imagens/saturn-favicon.ico) no-repeat;
        background-size: contain;
    }
    
    @keyframes animate {
        0%{
            transform: translateY(97vh) scale(0.3);
        }
        100%{
            transform: translateY(-0vh) scale(1);
        }
    }

    #user {
        position: absolute;
        top: 10%;
        left: 76%;
        border: 2px solid black;
        border-radius: 20px;
        box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.24);
    
        padding: 10px;
    
        transition: transform 0.3s;
    }

    #user:hover {
        transform: scale(1.1);
        cursor: pointer;
        box-shadow: 2px 2px 5px rgb(0, 0, 0);
    }

    main {
        position: absolute;
        top: 30%;
        left: 42%;
    }

    footer {
        position: absolute;
        top: 80%;
        left: 45%;
    }
}

@media screen and (min-width: 429px) and (max-width: 720px) { 
    /*Smartphones Android*/
    
    body {
        height: 100vh;
    }

    #user {
        position: absolute;
        top: 14%;
    }

    #carrinho{
        position: absolute;
        top: 20%;
    }

    main {
        position: absolute;
        top: 30%;
    }
    
    .fileira-1 {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        margin: auto;
        max-width: 70%;
    }

    section div {
        margin: 4px;
    }

    .img1 {
        width: 120px;
        height: 120px;

        background: url(../imagens-roupas/saturn-black-shirt-front.jpeg) no-repeat center center;
        background-size: 110%;
    
        border-radius: 10px;
    
        transition: transform 0.6s ease;
    }
    
    .img1:hover {
        transform: scale(1.1);
        cursor: pointer;
    
        background: url(../imagens-roupas/saturn-black-shirt-back.jpeg) no-repeat center center;
        background-size: 110%;
    
        box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.703);
    }
    
    .img2 {
        width: 120px;
        height: 120px;

        background: url(../imagens-roupas/saturn-white-shirt-front.jpeg) no-repeat center center;
        background-size: 110%;
    
        border-radius: 10px;
    
        transition: transform 0.6s ease;
    }
    
    .img2:hover {
        transform: scale(1.1);
        cursor: pointer;
    
        background: url(../imagens-roupas/saturn-white-shirt-back.jpeg) no-repeat center center;
        background-size: 110%;
    
        box-shadow: 2px 2px 15px black;
    }

    .img3 {
        width: 120px;
        height: 120px;

        background: url(../imagens-roupas/saturn-black-shirt-back-v2.jpeg) no-repeat center center;
        background-size: 110%;
    
        border-radius: 10px;
    
        transition: transform 0.6s ease;
    }
    
    .img3:hover {
        transform: scale(1.1);
        cursor: pointer;
    
        box-shadow: 2px 2px 15px black;
    }

    .img4 {
        width: 120px;
        height: 120px;

        background: url(../imagens-roupas/saturn-black-shirt-front.jpeg) no-repeat center center;
        background-size: 110%;
    
        border-radius: 10px;
    
        transition: transform 0.6s ease;
    }
    
    .img4:hover {
        transform: scale(1.1);
        cursor: pointer;
    
        background: url(../imagens-roupas/saturn-black-shirt-back.jpeg) no-repeat center center;
        background-size: 110%;
    
        box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.703);
    }
    
    .img5 {
        width: 120px;
        height: 120px;

        background: url(../imagens-roupas/saturn-white-shirt-front.jpeg) no-repeat center center;
        background-size: 110%;
    
        border-radius: 10px;
    
        transition: transform 0.6s ease;
    }
    
    .img5:hover {
        transform: scale(1.1);
        cursor: pointer;
    
        background: url(../imagens-roupas/saturn-white-shirt-back.jpeg) no-repeat center center;
        background-size: 110%;
    
        box-shadow: 2px 2px 15px black;
    }

    .img6 {
        width: 120px;
        height: 120px;

        background: url(../imagens-roupas/saturn-black-shirt-back-v2.jpeg) no-repeat center center;
        background-size: 110%;
    
        border-radius: 10px;
    
        transition: transform 0.6s ease;
    }
    
    .img6:hover {
        transform: scale(1.1);
        cursor: pointer;
    
        box-shadow: 2px 2px 15px rgb(0, 0, 0);
    }

    .plate {
        position: relative;
        top: -4%;
        left: -2%;
    }

    .plates {
        position: absolute;
        top: -50%;
    }

    .x {
        position: absolute;
        left: 200px;
    }

    .container {
        position: relative;
        width: 100%;
        height: 89vh;
        overflow: hidden;
    }

    .bubbles {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: flex-end;
        height: 80vh;
    }

    .bubbles span {
        position: relative;
        width: 20px;
        height: 20px;
        margin: 0 2px;
        background-size: contain;
        animation: animate 15s linear infinite;
        animation-duration: calc(120s / var(--i));
    }

    @keyframes animate {
        0% {
            transform: translateY(50vh) scale(1);
        }
        100% {
            transform: translateY(-100vh) scale(4);
        }
    }

    footer {
        position: absolute;
        top: 100%;        
        width: 100%;
        padding: 20px 5% 200px;
        background: #333;
        color: #efefef;
        display: flex;
    }

    footer hr {
        display: none;
    }

    footer div {
        text-align: center;
    }

    .col-1 {
        display: none;
    }

    .col-2 {
        flex-grow: 2;
    }

    footer div h3 {
        font-weight: 300;
        margin-bottom: 30px;
        letter-spacing: 1px;
    }

    form input {
        width: 350px;
        height: 45px;
        border-radius: 4px;
        text-align: center;
        margin-bottom: 40px;
        outline: none;
        border: none;
    }

    form button {
        background: transparent;
        border: 2px solid #fff;
        color: #fff;
        border-radius: 30px;
        padding: 10px 30px;
        font-size: 15px;
        cursor: pointer;

        transition: transform .4s ease-in-out;
    }

    form button:hover {
        color: black;
        border-color: black;
        background-color: #efefef;

        transform: scale(1.05);
    }

    .col-3 {
        position: absolute;
        top: 65%;
        left: 26.5%;    
    }

    .social-icons i {
        color: white;
        font-size: 22px;
        margin: 10px;
        cursor: pointer;
    }

    .social-icons i:hover {
        color: aqua;
    }

    .col-3 h3 {
        margin-bottom: 0px;
    }

    .social-icons i {
        color: white;
        font-size: 22px;
        margin: 10px;
        cursor: pointer;
    }

    .social-icons i:hover {
        color: aqua;
    }

    .social-icons p {
        margin-top: 20px;
        font-size: 0.8rem;
    }

    .social-icons a {
        text-decoration: none;
        color: white;
    }

    .social-icons a:hover {
        text-decoration: underline;
        color: aqua;
    }
}

@media screen and (min-width: 360px) and (max-width: 428px) { 
    /*Smartphones Apple*/

    body {
        height: 100vh;
    }

    header img {
        position: relative;
        top: 2%;
        left: 1%;
    }

    #user {
        position: absolute;
        top: 12%;
    }

    #carrinho{
        position: absolute;
        top: 20%;
    }

    main {
        position: absolute;
        top: 35%;
        left: 38%;
    }
    
    .fileira-1 {
        margin: 10px -75px;
    }

    .plate {
        position: relative;
        top: -10%;
        left: -6%;
    }

    .plates {
        position: absolute;
        top: -50%;
    }

    .x {
        position: relative;
        left: 200px;
    }

    .container {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

    .bubbles {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: flex-end;
        height: 80vh;
    }

    .bubbles span {
        position: relative;
        width: 20px;
        height: 20px;
        margin: 0 2px;
        background-size: contain;
        animation: animate 15s linear infinite;
        animation-duration: calc(120s / var(--i));
    }

    @keyframes animate {
        0% {
            transform: translateY(50vh) scale(1);
        }
        100% {
            transform: translateY(-100vh) scale(4);
        }
    }

    footer {
        position: absolute;
        top: 100%;        
        width: 100%;
        padding: 20px 5% 200px;
        background: #333;
        color: #efefef;
        display: flex;
    }

    footer hr {
        display: none;
    }

    footer div {
        text-align: center;
    }

    .col-2 {
        flex-grow: 2;
    }

    footer div h3 {
        font-weight: 300;
        margin-bottom: 30px;
        letter-spacing: 1px;
    }

    form input {
        width: 350px;
        height: 45px;
        border-radius: 4px;
        text-align: center;
        margin-bottom: 40px;
        outline: none;
        border: none;
    }

    form button {
        background: transparent;
        border: 2px solid #fff;
        color: #fff;
        border-radius: 30px;
        padding: 10px 30px;
        font-size: 15px;
        cursor: pointer;

        transition: transform .4s ease-in-out;
    }

    form button:hover {
        color: black;
        border-color: black;
        background-color: #efefef;

        transform: scale(1.05);
    }

    .col-3 {
        position: absolute;
        top: 65%;
        left: 23%;    
    }

    .col-3 h3 {
        margin-bottom: 0px;
    }

    .social-icons i {
        color: white;
        font-size: 22px;
        margin: 10px;
        cursor: pointer;
    }

    .social-icons i:hover {
        color: aqua;
    }

    .social-icons p {
        margin-top: 20px;
        font-size: 0.8rem;
    }

    .social-icons a {
        text-decoration: none;
        color: white;
    }

    .social-icons a:hover {
        text-decoration: underline;
        color: aqua;
    }
}