@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Overpass+Mono:wght@500&display=swap');

* {
    margin: 0px;
    padding: 0px;
}

body {
    height: 100vh;
    font-family: 'Overpass Mono', monospace;
}

header > p {
    text-align: center;
    font-size: 0.8em;
    padding: 10px;
    box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.300);
}

nav {
    text-align: center;
    padding: 10px;
    margin-top: 110px;
    margin-bottom: 20px;
}

nav > a {
    display: inline-block;
    padding: 5px;

    font-size: 0.9em;
    text-decoration: none;
    color: black;

    transition: transform 0.9s;
}

nav > a:hover {
    text-decoration: underline;
    background-color: black;
    color: white;
    border-radius: 5px;

    transform: scale(1.1);
}

main {
    max-height: 500px;
    height: 450px;
    width: 200px;
    margin: auto;
    padding: 60px;
    
    background-color: rgb(222, 101, 250);
    box-shadow: 2px 2px 15px black;
    border-radius: 20px;
}

/*Configurações Alteráveis*/
#lupa {
    position: absolute;
    top: 10%;
    left: 10%;

    border: 2px solid black;
    border-radius: 20px;
    box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.411);

    padding: 10px;
    
    transition: transform 0.3s;
}

#lupa:hover {
    transform: scale(1.1);
    cursor: pointer;
    box-shadow: 2px 2px 5px black;
}

#carrinho {
    position: absolute;
    top: 10%;
    left: 82%;

    border: 2px solid black;
    border-radius: 20px;
    box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.411);

    padding: 10px;

    transition: transform 0.3s;
}

#carrinho:hover {
    transform: scale(1.1);
    cursor: pointer;
    box-shadow: 2px 2px 5px black;
}

.gif-container {
    position: relative;
    text-align: center;
    margin: auto;
  }

.gif-container img {
    position: absolute;
    top: 0;
    left: 50%;

    transform: translateX(-50%);

    height: 120px;
    padding: 10px;

    border-radius: 50%;
  }

.quadrado1 {
    width: 150px;
    height: 150px;
    margin: auto;
    margin-bottom: 130px;

    border: 2px solid rgb(0, 0, 0);
    border-radius: 10px;
    box-sizing: border-box;

    display: flex;
    justify-content: center;
    align-items: center;

    transition: transform 0.3s;
}

.quadrado1:hover {
    transform: scale(1.05);
    border-color: rgb(255, 255, 255);
    cursor: pointer;
}

.quadrado2 {
    width: 150px;
    height: 150px;
    margin: auto;

    border: 2px solid black;
    border-radius: 10px;
    box-sizing: border-box;

    display: flex;
    justify-content: center;
    align-items: center;

    transition: transform 0.3s;
}

.quadrado2:hover {
    transform: scale(1.05);
    border-color: rgb(255, 255, 255);
    cursor: pointer;
}

#insta {
    position: absolute;
    top: 87%;
    left: 49%;

    color: black;

    transition: transform 0.9;
}

#insta:hover {
    cursor: pointer;
}

footer {
    text-align: center;
    font-size: 0.8em;
    margin-top: 50px;
}

footer > a {
    text-decoration: none;
    color: black;
}

footer > a:hover {
    text-decoration: underline;
}