@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Overpass+Mono:wght@500&display=swap');

* {
    margin: 0px;
    padding: 0px;
}

body {
    height: 97vh;
    font-family: 'Overpass Mono', monospace;
}

header {
    text-align: center;
    font-size: 0.8em;
    padding: 10px;
    box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.279);
}

nav {
    text-align: center;
    padding: 20px;
}

a {
    display: inline-block;
    padding: 10px;
    font-size: 0.9em;
    text-decoration: none;
    color: black;
    transition: transform 0.9s;
}

a:hover {
    text-decoration: underline;
    transform: scale(1.2);
}

.quadrado1 {
    display: flex;
    border: 2px solid black;
    align-items: center;
    justify-content: center;

    position: absolute;
    top: 40%;
    right: 35%;

    width: 150px;
    height: 150px;
    padding: 10px;
    border-radius: 10px;
}

.quadrado2 {
    display: flex;
    border: 2px solid black;
    align-items: center;
    justify-content: center;

    position: absolute;
    right: 55%;
    top: 40%;

    width: 150px;
    height: 150px;
    padding: 10px;
    border-radius: 10px;
}

footer {
    position: absolute;
    top: 95%;
    right: 46.5%;

    text-align: center;
    font-size: 0.8em;
}